:root {
    --CLOUD: #f4f4fd;
    --CORNFLOWER: #e7e9fc;
    --IRIS: #4d5ae5;
    --NAVY-BLUE: #2e2f42;
    --SLATE: #434455;
    --WHITE: #fff;
    --OCEAN: #404bbf;
    --LIGHT-SLATE: #8e8f99;
    --GREEN: #31d0aa;
    --NAVY-BLUE-modal: rgba(46, 47, 66, 0.4);
    --LIGHT-SLATE: #8e8f99;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #fff;
}

a,
.link {
    text-decoration: none;
    color: inherit;
}
ul,
ol {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
}
.list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

img {
    display: block;
}

.hide {
    display: none;
}
/* Mobile */
.container {
    min-width: 320px;
    max-width: 428px;
    padding: 0 16px;
    margin: 0 auto;
}
/* Tablet */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* HEADER */
.head {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 767.97px) {
    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }
}
nav {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--IRIS);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-right: 76px;
    text-decoration: none;
}
.logo-part {
    color: var(--NAVY-BLUE);
}

.menu {
    display: flex;
    gap: 40px;
}
@media only screen and (max-width: 767.97px) {
    .menu {
        display: none;
    }
}
.menu-item {
    width: calc((100% - 80px) / 3);
}
.menu-link {
    display: inline-block;
    color: var(--NAVY-BLUE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
}
.menu-link:hover,
.menu-link:focus {
    color: var(--OCEAN);
}
.current {
    color: var(--OCEAN);
}
.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--OCEAN);
    border-radius: 2px;
}

.address {
    display: flex;
    gap: 40px;
}
@media only screen and (max-width: 767.97px) {
    .address {
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .address {
        flex-direction: column;
        gap: 12px;
    }
}
.address-info {
    display: block;
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .address-info {
        font-size: 12px;
    }
}
.address-info:hover,
.address-info:focus {
    color: var(--OCEAN);
}
.address-item {
    flex-basis: calc((100% - 40px) / 2);
}

.btn-menu {
    background-color: var(--WHITE);
    border: none;
}
.btn-menu-svg {
    stroke: var(--NAVY-BLUE);
}
@media only screen and (min-width: 768px) {
    .btn-menu {
        display: none;
    }
}

/* MAIN */
/* Hero Section */
/* Mobile, Tablet */
.hero-section {
    margin: 0 auto;
    max-width: 1440px;
    padding: 112px 0;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .hero-section {
        padding: 188px 0;
    }
}
.hero-title {
    color: var(--WHITE);
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 320px;

    white-space: normal;
    margin-bottom: 72px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;

        margin-bottom: 36px;
    }
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .hero-title {
        margin-bottom: 48px;
    }
}

.hero-btn {
    display: block;
    margin: 0 auto;
    border: none;
    background-color: var(--IRIS);
    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--OCEAN);
}

/* Section 2 - Mastery */
.mastery-section {
    padding: 96px 0;
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .mastery-section {
        padding: 96px 0;
    }
}
.mastery-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    /* gap: 24px; */
}
/* Tablet, Desctop */
@media only screen and (min-width: 768px) {
    .mastery-list {
        gap: 72px 24px;
    }
}

.mastery-item {
    width: 100%;
}
/* Tablet */
@media only screen and (min-width: 768px) {
    .mastery-item {
        width: calc((100% - 24px) / 2);
    }
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .mastery-item {
        width: calc((100% - 72px) / 4);
    }
}
/* Mobile, Tablet */
.mastery-icon {
    display: none;
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .mastery-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 264px;
        height: 112px;
        margin-bottom: 8px;

        background-color: var(--CLOUD);
        border-radius: 4px;
    }
}

.mastery-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    margin-bottom: 8px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
    .mastery-title {
        text-align: left;
    }
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .mastery-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }
}
.mastery-text {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .mastery-text {
        font-weight: 400;
    }
}

/* Activites */
/* Mobile, Tablet */
.activites-section {
    display: none;
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .activites-section {
        display: block;
        padding-bottom: 120px;
    }
    .activites-list {
        display: flex;
        gap: 24px;
    }
    .activites-title {
        color: var(--NAVY-BLUE);
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        margin-bottom: 72px;
    }
    .activites-item {
        background: var(--CORNFLOWER);
    }
}

/* Our Team */
.our-team-section {
    background-color: var(--CLOUD);
    padding: 96px 0;
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .our-team-section {
        padding: 120px 0;
    }
}

.our-team-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}
/* Tablets, Desctop */
@media only screen and (min-width: 768px) {
    .team-cards {
        gap: 64px 24px;
    }
}

.team-card {
    background: var(--WHITE);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.person-info {
    padding: 32px 0;
}
.team-card h3 {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-card p {
    margin: 0px;
    color: var(--SLATE);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-icons-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.team-icon-link,
.footer-icon-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS);
    border-radius: 50%;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icon-link:hover,
.team-icon-link:focus {
    background-color: var(--OCEAN);
}
.team-icon-svg {
    fill: var(--CLOUD);
}

/* Customers */
.customers {
    padding: 96px 0;
}
/* Desctop */
@media only screen and (min-width: 1158px) {
    .customers {
        padding: 120px 0;
    }
}
.customers-title {
    text-align: center;
    color: var(--NAVY-BLUE);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}
@media only screen and (min-width: 768px) {
    .customers-list {
        gap: 88px 24px;
    }
}

.customer-link {
    width: 190px;
    height: 88px;
    color: var(--LIGHT-SLATE);
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .customer-link {
        width: 168px;
    }
}

.customer-link:hover,
.customer-link:focus {
    color: var(--OCEAN);
    border-color: var(--OCEAN);
}
.customer-svg {
    fill: currentColor;
}

/* Footer */
.footer {
    background: var(--NAVY-BLUE);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
}
@media only screen and (min-width: 768px) {
    .footer-container {
        justify-content: start;
        gap: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        padding: 0 104px;
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        width: auto;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-logo {
        margin-right: 120px;
    }
}
.logo-foot {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
    .logo-foot {
        text-align: left;
    }
}
.logo-white {
    color: var(--CLOUD);
}
.footer-text {
    margin: 0 auto;
    color: var(--CLOUD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
    width: 264px;
}
.footer-media {
    width: 100%;
    /* margin-bottom: 72px; */
    /* margin-right: 80px; */
}
@media only screen and (min-width: 768px) {
    .footer-media {
        width: auto;
    }
}
@media only screen and (min-width: 1158px) {
    .footer-media {
        margin-right: 80px;
    }
}
.footer-media-title,
.footer-subscribe-title {
    color: var(--WHITE, #fff);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    text-align: center;
    margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
    .footer-media-title,
    .footer-subscribe-title {
        text-align: left;
    }
}
.media-icons-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--GREEN);
}
.footer-subscribe {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .footer-subscribe {
        width: auto;
    }
}
@media only screen and (min-width: 768px) {
    .footer-subscribe-form {
        display: flex;
        gap: 24px;
    }
}

.footer-subscribe-input {
    /* Обнуляем настройки input */
    margin: 0;
    padding: 0;
    outline: none;
    /* Отменить фон */
    background: transparent;
    /* Отменить стандартные тени в некоторых браузерах */
    box-shadow: none;

    padding: 8px 16px;
    width: 100%;
    /* width: 264px; */
    height: 40px;
    margin-bottom: 16px;

    color: var(--WHITE);
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.48px;

    border-radius: 4px;
    border: 1px solid;
    border-color: var(--WHITE);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .footer-subscribe-input {
        width: 264px;
    }
}

.footer-subscribe-input:hover,
.footer-subscribe-input:focus {
    border-color: var(--IRIS);
}

.footer-subscribe-btn {
    border: none;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;

    min-width: 165px;
    height: 40px;
    margin: 0 auto;

    border-radius: 4px;
    background-color: var(--IRIS);

    color: var(--WHITE);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.64px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .footer-subscribe-btn {
        margin: 0;
    }
}
.footer-subscribe-btn:hover,
.footer-subscribe-btn:focus {
    background-color: var(--OCEAN);
}

.footer-subscribe-svg {
    fill: currentColor;
    margin-left: 16px;
}

/* -- Portfolio -- */
/* Buttons */
.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}
.buttons {
    display: flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}
.btn {
    background-color: var(--CLOUD);
    color: var(--IRIS);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--CORNFLOWER, #e7e9fc);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
    color: var(--WHITE);
    background-color: var(--OCEAN);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Section Portfolio */
.services {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.row-item {
    border: 1px solid var(--CORNFLOWER);
    width: calc((100% - 48px) / 3);
}
.row-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.row-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.row-item-title {
    color: var(--NAVY-BLUE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.row-item-text {
    color: var(--SLATE);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
.overlay {
    position: relative;
    overflow: hidden;
}

.row-item-link:hover,
.row-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.row-item-link:hover .overlay > p,
.row-item-link:focus .overlay > p {
    transform: translateY(0%);
}
.overlay p {
    color: var(--CLOUD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: var(--IRIS);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
}

/* Modal window */

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    padding: 72px 16px 16px 24px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 392px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px 24px;
        width: 408px;
    }
}
.modal-window.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4);
}
.btn-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
    background-color: var(--OCEAN);
    border: none;
    fill: #fff;
}
.btn-close-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Form */
.form-title {
    color: var(--NAVY-BLUE);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}

/* .form-contact {
    display: flex;
    flex-direction: column;
} */

.form-label {
    display: block;
    color: var(--LIGHT-SLATE);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.field-wrapper {
    margin-bottom: 8px;
}
.input-wrapper {
    position: relative;
}
.form-field,
.form-textarea {
    border: none;
    /* Отменить стандартные отступы и рамки в некоторых браузерах */
    margin: 0;
    padding: 0;
    outline: none;

    /* Отменить фон */
    background: transparent;

    /* Отменить стандартные тени в некоторых браузерах */
    box-shadow: none;

    /* Отменить стандартные стили шрифта */
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.form-field {
    width: 100%;
    height: 40px;
    padding-left: 38px;

    border-radius: 4px;
    border: 1px solid;
    border-color: var(--NAVY-BLUE-modal);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus {
    border-color: var(--IRIS);
}
.form-field:focus + .input-svg {
    fill: var(--IRIS);
}
.input-svg {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-wrapper {
    margin-bottom: 16px;
}
.form-textarea {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    resize: none;

    outline: transparent;

    border-radius: 4px;
    border: 1px solid;
    border-color: var(--NAVY-BLUE-modal);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--NAVY-BLUE-modal);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
}
.form-textarea:focus {
    border-color: var(--IRIS);
}

.checkbox-wrapper {
    margin-bottom: 24px;
}
.policy-label {
    display: block;
    color: var(--LIGHT-SLATE);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.04em;
}
.checkbox-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 16px;
    border: 1px solid var(--NAVY-BLUE-modal);
    border-radius: 2px;

    fill: transparent;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    vertical-align: middle;
    margin-right: 8px;
}

.privacy-input:checked + .policy-label .checkbox-span {
    /* display: block; */
    background-color: var(--OCEAN);
    border: none;
    fill: var(--CLOUD);
}

.policy-link {
    color: var(--IRIS);
    text-decoration-line: underline;
}
.btn-submit {
    display: block;
    border: none;
    min-width: 169px;
    padding: 16px 32px;
    text-align: center;
    margin: 0 auto;

    color: var(--WHITE);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.64px;

    border-radius: 4px;
    background-color: var(--IRIS);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: var(--OCEAN);
}

/* Mobile menu */
.menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding: 80px 35px 40px 40px;
    background-color: var(--WHITE);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    appearance: none;
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    background-color: transparent;
    border: 1px solid var(--CORNFLOWER);
    border-radius: 50%;
}

.mobile-menu {
    margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-menu-link {
    color: var(--NAVY-BLUE);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.mob-active {
    color: var(--OCEAN);
}
.mobile-contacts {
    margin-bottom: 48px;
}
.mobile-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}
.mobile-contacts-link {
    color: var(--SLATE);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.cont-active {
    color: var(--IRIS);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
}
@media only screen and (max-width: 427.97px) {
    .cont-active {
        font-size: 25px;
    }
}

@media only screen and (max-width: 427.98px) {
    .mobile-media-icons {
        justify-content: space-between;
    }
}
@media only screen and (min-width: 428px) {
    .mobile-media-icons {
        gap: 56px;
    }
}
